{% extends "base.html" %}
{% block title %}Courses{% endblock %}
{% block content %}
<br>
<form method="post">
    <div class="mb-3 d-flex">
        <input type="text" id="searchInput" class="form-control" name="search-stud" placeholder="Search...">
        <button type="submit" class="btn btn-outline-primary ml-2" formaction="/student-search">Search</button>
    </div>
  </form>
  
  <table class="table" id="students">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Course</th>
          <th scope="col">College</th>
          <th scope="col">Gender</th>
          <th scope="col">Year Level</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          {% for detail in students %}  
          <tr>
              <td><img loading="lazy" class="img rounded-pill" src="{{ detail[8] }}" alt="Profile Picture" style="height: 65px; width: 65px; margin-right: 10px;" /></a></td>
              <td>{{detail[0]}}</td>
              <td>{{detail[1]}}</td>
              <td>{{detail[2]}}</td>
              <td>{{detail[3]}}</td>
              <td>{{detail[7]}}({{detail[6]}})</td>
              <td>{{detail[4]}}</td>
              <td>{{detail[5]}}</td>
              <td>
                <a href="{{url_for('student.read',id=detail[0])}}"><button type="submit" class="btn btn-info"> > </button></a>
              </td>            
          </tr>
          {% endfor %}
      </tbody>
  </table>

{% endblock %}
