{% extends "base.html" %}
{% block title %}Courses{% endblock%}
{% block content %}
<a href="/add-course">
<div class="floating-icon">
  <i class="fa fa-solid fa-plus"></i>
</div>
</a>

<table class="table" id="courses">
    <thead>
      <tr>
        <th scope="col">Course code</th>
        <th scope="col">Course Name</th>
        <th scope="col">College</th>
        <th></th>
      </tr>
    </thead>
    <tbody>  
        {% for detail in coursedetails %}  
        <tr>
            <form method="post" action="/edit-course" onsubmit="return confirmATION('{{detail[0]}}')">
              <td><input type="hidden" name="newcode" value="{{detail[0]}}"><div contenteditable="true">{{detail[0]}}</div></td>
              <td hidden><input type="hidden" name="code" value="{{detail[0]}}">{{detail[0]}}</td>
              <td><input type="hidden" name="name" value="{{detail[1]}}"><div contenteditable="true">{{detail[1]}}</div></td>
              <td><div class="form-group">
                <select class="form-control" id="college" name="college">
                    <option value="{{detail[2]}}">{{detail[2]}}</option>
                    {% for college in colleges %}
                    <option value="{{college[0]}}">{{college[0]}}</option>
                    {% endfor %}
                </select>
              </div></td>
              <td>
                <button type="submit" class="btn btn-warning">Edit</button>
                <form method="post">
                    <input type="hidden" name="course_code" value="{{detail[0]}}">
                    <button type="submit" formaction="/delete-course" onsubmit="return confirmATION('{{detail[0]}}')" class="btn btn-danger">Delete</button>
                </form>
            </td>            
          </form>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function confirmATION(courseCode) {
        if (confirm('Are you sure you want to modify this course permanently?')) {
            // If the user confirms, let the form submission proceed.
            return true;
        } else {
            // If the user cancels, prevent the form submission.
            return false;
        }
    }
</script>
<script>
    $(document).ready(function() {
      $("#searchInput").on("input", function() {
        var searchText = $(this).val().toUpperCase();
        $("#courses tbody tr").each(function() {
          var rowText = $(this).text().toUpperCase();
          if (rowText.includes(searchText)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });
    });
  </script>  
{% endblock %}