{% extends "base.html" %}
{% block title %}Students{% endblock %}
{% block content %}
<a href="/students/add-student">
  <div class="floating-icon">
    <i class="fa fa-solid fa-plus"></i>
  </div>
</a>

<!-- Add the search bar -->
<div class="mb-3">
  <input type="text" id="searchInput" class="form-control" placeholder="Search...">
</div>

<table class="table" id="students">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Course</th>
        <th scope="col">College</th>
        <th scope="col">Gender</th>
        <th scope="col">Year Level</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for detail in studentdetails %}  
        <tr>
            <td><img loading="lazy" class="img rounded-pill" src="{{ detail[0] }}" alt="Profile Picture" style="height: 65px; width: 65px; margin-right: 10px;" /></a></td>
            <td>{{detail[1]}}</td>
            <td>{{detail[2]}}</td>
            <td>{{detail[3]}}</td>
            <td>{{detail[4]}}</td>
            <td>{{detail[8]}}({{detail[7]}})</td>
            <td>{{detail[5]}}</td>
            <td>{{detail[6]}}</td>
            <td>
              <a href="{{url_for('student.read',id=detail[1])}}"><button type="submit" class="btn btn-info"> > </button></a>
            </td>            
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Add JavaScript for filtering -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    console.log('DOMContentLoaded event fired');
    var searchInput = document.getElementById('searchInput');
  
    if (searchInput) {
      searchInput.addEventListener('input', function() {
        searchTable();
      });
    }
  });  

  function searchTable() {
    var input, filter, table, rows, cells, i, j, txtValue;
    input = document.getElementById('searchInput');
    filter = input.value.toUpperCase();
    table = document.getElementById('students');
  
    if (!table) return;
  
    rows = table.querySelectorAll('tbody tr');
  
    for (i = 0; i < rows.length; i++) {
      cells = rows[i].querySelectorAll('td');
      var found = false;
  
      for (j = 2; j < cells.length; j++) {
        txtValue = cells[j].textContent || cells[j].innerText;
  
        // Check specific columns for more specific search
        if (j === 5 || j === 1 || j === 4 || j === 8 || j === 7) {
          // Assuming columns: Gender, ID, Course, College, Year Level
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            found = true;
            break;
          }
        } else {
          // For other columns, perform a general search
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            found = true;
            break;
          }
        }
      }
  
      rows[i].style.display = found ? '' : 'none';
    }
  }  
</script>
{% endblock %}
